.faq {
	padding: 20px;
	background-color: $black-light;
}

.faq__title {
	margin-bottom: 35px;
	font-size: 20px;
	color: $white;

	@media ($tablet-desktop) {
		margin: 0 40px 35px;
		font-size: 24px;
	}
}

.faq__list {
	padding: 0;
	list-style: none;

	@media ($tablet-desktop) {
		margin: 0 40px 80px;
	}
}

.faq__item {
	position: relative;
	padding-right: 25px;
	border-bottom: 1px $gray solid;
}

.faq__item.active .faq__toggle::before {
	content: '-';
	font-size: 30px;
}

.faq__item.active .faq__content {
	display: block;
}

.faq__toggle {
	display: block;
	padding: 15px 0;
	text-decoration: none;
	font-size: 16px;
	background-color: transparent;
	color: $white;
	border: 0;

	&::before {
		content: '+';
		position: absolute;
		top: 25px;
		right: -5px;
		font-size: 30px;
		color: $white;
		transform: translateY(-50%);
	}

	@media ($tablet-desktop) {
		font-size: 18px;
	}
}

.faq__content {
	position: relative;
	display: none;
	font-size: 14px;
	color: $white;
	transition: 0.5s;
}
