// Viewports
$mobile: "max-width: 767px";
$tablet-mobile: "max-width: 1199px";
$tablet-desktop: "min-width: 768px";
$tablet: "min-width: 768px) and (max-width: 1199px";
$desktop: "min-width: 1200px";

// ddpx values
$retina: "min-resolution: 2dppx";

// colors
$white: #ffffff;
$black: #000000;
$black-light: #161616;
$light-gray: #2b2b2b;
$gray: #222222;
$light-blue: #00aef3;
